/* sidebar */

.section--list-hero .hero-list-wrap {
  transform: translateY(100%);
}

.section--list-hero .list-hero-text-wrap > div {
  transform: translateY(5rem)
}

.section--list-hero .swiper .swiper-item-img {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.section--list-hero .swiper .swiper-item-img.is-flipping {
  clip-path: none;
}

/* slider */

.swiper-slide {
  z-index: 1;
}

.swiper-wrapper.mousewheel {
  transition-duration: 0.75s !important;
}

.swiper-slide .dark-overlay {
  transition: all 250ms ease-in-out;
}

.swiper-slide p {
  transition: all 350ms cubic-bezier(0.500, 0.000, 0.500, 0.000);
}

.swiper-slide.is--hover .dark-overlay {
  opacity: 0.25;
}

.swiper-slide.is--hover:hover p {
  opacity: 1;
}

.swiper-slide-active {
  z-index: 2;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.active-flip-item {z-index: 3;}