/* Animate Teasers */
.strenghts-img-wrap .heading-style-h2, .button-icon {
  opacity: 0;
}

.strenghts-img-wrap .heading-style-h2.is--animated, .button-icon.is--animated {
  opacity: 1;
}

/* Service Section */

.service-img {
  display: none;
}

.service-headline-item {
  opacity: 0;
}

.service-headline-item.is--active {
  opacity: 1;
}

/* About Information Section */

.information_img {
  opacity: 0;
}

.information_img.is--active {
  opacity: 1;
  z-index: 1;
}