@import url('detailPage.css');
@import url('listPage.css');
@import url('aboutPage.css');
@import url('cursor.css');
@import url('overviewPage.css');
@import url('homePage.css');

/* MENU IMAGE SYNC */

.navigation_content-item-image-wrap-inner.is-active {
  opacity: 1;
}

/* PAGE TRANSITION */

/* html.animating, .animating body {
  overflow: hidden;
} */

/* Service Section */

.service-headline-item {
  opacity: 0;
}

.service-headline-item.is--active {
  opacity: 1;
}

/* Smooth scroll */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden !important;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}